
em,i {
    font-style: normal
}
#backtop {
    display: none;
    background: url(../images/backtop.png) left top no-repeat;
    width: 28px;
    height: 64px;
    position: fixed;
    left: 50%;
    bottom: 140px;
    margin-left: 548px;
    cursor: pointer
}

#backtop:hover {
    background-position: right top!important
}

#product-fk {
    width: 50px;
    *width: 55px;
    height: 50px;
    position: fixed;
    left: 50%;
    bottom: 53px;
    margin-left: 538px;
    cursor: pointer;
    z-index: 21;
}

#feedback-icon {
    position: relative
}

#feedback-icon span {
    font-size: 12px;
    color: #555
}
#feedback-icon .fb-icon {
    width: 30px;
    height: 30px;
    margin: 0 auto;
    background: url(../images/feedback.png) left center no-repeat;
    background-position: 0 0
}

#feedback-icon .fb-icon:hover {
    background-position: 0 -31px
}
#footer {
    min-width: 1024px;
    background-color: #fff;
    clear: both;
    height: 67px;
    border-top: 1px solid #ebebeb;
    position: relative;
    z-index: 1001
}

.footer_fix {
    position: fixed!important;
    bottom: 0;
    left: 0;
    right: 0
}

#footer .wrapper {
    width: 1024px;
    margin: 0 auto;
    position: relative
}

#footer .footer_lagou_icon {
    position: absolute;
    left: 0;
    top: 9px;
    z-index: 1;
    display: block;
    width: 198px;
    height: 19px;
    background: url(../images/footer_lagou_icon.png) 0 0 no-repeat
}

#footer .inner_wrapper {
    padding-top: 12px;
    float: right;
    height: 14px;
    line-height: 14px;
    white-space: nowrap
}

#footer .inner_wrapper a,#footer .inner_wrapper span.tel {
    float: left;
    color: #555;
    font-size: 14px;
    text-decoration: none
}

#footer .inner_wrapper a {
    margin-right: 15px
}

#footer .inner_wrapper span.tel {
    margin-right: 0
}

#footer span em {
    font-size: 13px;
    font-style: normal
}

.footer_qr {
    position: relative
}

.footer_qr img {
    display: none;
    border: 3px solid #0D9572;
    position: absolute;
    bottom: 16px;
    left: 0;
    z-index: 1001
}

.footer_app {
    position: relative;
    padding-right: 33px
}

.footer_app img {
    display: none;
    border: 3px solid #0D9572;
    position: absolute;
    bottom: 16px;
    left: 0;
    z-index: 1001
}

.footer_app span {
    position: absolute;
    right: 0;
    top: -2px;
    display: block;
    background: url(../images/new_v1.png) no-repeat;
    width: 30px;
    height: 16px;
    margin-left: 3px;
    vertical-align: text-top;
    overflow: hidden;
    text-indent: -99em;
}

#footer .copyright {
    clear: both;
    height: 12px;
    margin: 0 auto;
    padding-top: 13px;
    padding-bottom: 14px;
    color: #d5d5d5;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
}

#footer .copyright a {
    padding-right: 0;
    font-size: 12px;
    color: #d5d5d5;
}

#footer .copyright em {
    font-family: Arial;
}

.loginToolBar {
    width: 100%;
    height: 64px;
    position: fixed;
    z-index: 1000;
    bottom: 0;
    left: 0;
    background: url(../images/footbar/footerbar_repeat_e3527a7.png) repeat-x;
}
.loginToolBar div {
    width: 1024px;
    margin: 0 auto;
    position: relative;
}
.loginToolBar em {
    width: 95px;
    height: 54px;
    background: url(../images/footbar/footbar_img.png) no-repeat;
    position: absolute;
    top: -54px;
    left: -110px
}
.loginToolBar img {
    position: absolute;
    left: -110px;
    top: 10px;
}
.loginToolBar span.companycount {
    font-size: 32px;
    line-height: 38px;
    font-weight: 100;
    color: #dafaf4;
    display: inline-block;
    height: 30px;
    background: url(../images/footbar/footbar_text.png) right 16px no-repeat;
    padding-right: 33px;
    margin: 20px 0 0 294px;
}
.loginToolBar span.positioncount {
    font-size: 32px;
    line-height: 38px;
    font-weight: 100;
    color: #dafaf4;
    display: inline-block;
    height: 30px;
    background: url(../images/footbar/footbar_text.png) right bottom no-repeat;
    padding-right: 33px;
    margin: 20px 0 0 60px
}
.loginToolBar span i {
    display: inline-block;
    width: 17px;
    height: 30px;
    background: url(../images/footbar/footbar_num.png) 0 0 no-repeat;
}

.loginToolBar span b {
    display: inline-block;
    width: 9px;
    height: 30px;
    background: url(../images/footbar/footbar_comma.png) center bottom no-repeat;
}
.loginToolBar .right {
    height: 64px;
    position: absolute;
    left: 932px;
    top: 0;
    background: url(../images/footbar/footbar_btn_red.png) repeat-x;
}

.loginToolBar a.bar_register {
    display: inline-block;
    height: 64px;
    padding: 0 46px;
}
.loginToolBar a.bar_register:hover {
    background: url(../images/footbar/footbar_btn_red.png) repeat-x
}

.loginToolBar a.bar_register i {
    display: block;
    width: 120px;
    height: 64px;
    background: url(../images/footbar/footbar_register.png) left center no-repeat
}
.loginToolBar a.bar_login {
    height: 64px;
    position: absolute;
    left: 790px;
    background: url(../images/footbar/footbar_btn_green.png) repeat-x;
    padding: 0 46px
}

.loginToolBar a.bar_login:hover {
    background: url(../images/footbar/footbar_btn_green_hover.png) repeat-x
}
.loginToolBar a.bar_login i {
    display: block;
    width: 50px;
    height: 64px;
    background: url(../images/footbar/footbar_login_denglu.png) left center no-repeat
}


