


img {
    border: 0;
    vertical-align: top;
    display: inline-block
}
button,input,optgroup,select,textarea {
    margin: 0;
    padding: 0;
    border: 1px solid #ededed;
    font-family: "Hiragino Sans GB","Microsoft Yahei",SimSun,Arial,"Helvetica Neue",Helvetica
}
.content {
    width: 744px;
    margin-left: 280px
}
.search_box {
    border: 0 solid #00b38a;
    width: 740px;
    height: 37px;
    position: relative
}
.search_input {
    width: 570px;
    height: 23px;
    line-height: 23px;
    color: #555555;
    float: left;
    font-size: 16px;
    padding: 5px 8px 5px 10px;
    margin: 0;
    border: 2px solid #00b38a;
    border-right: 0
}
.search_button {
    height: 37px;
    width: 150px;
    color: #FFF;
    font-size: 18px;
    border: 2px solid #00b38a;
    background: #00b38a;
    float: right;
    cursor: pointer
}

.search_button:hover {
    background: #00a57f
}
.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}

/*搜索框下拉菜单--------------------------------------------------------------------*/
.guess_wrapper {
    position: absolute;
    z-index: 20;
    background-color: #fff;
    border: 2px solid #00b38a;
    border-top: 0;
    width: 587px
}

.guess_wrapper span {
    display: block;
    border-bottom: 1px dashed #ededed;
    font-size: 15px;
    color: #999;
    background-color: #fafafa!important;
    padding: 5px 6px
}

.guess_wrapper li {
    font-size: 1.1em;
    color: #555;
    padding: 5px 6px;
    cursor: pointer
}

.guess_wrapper li:hover {
    background-color: #00b38a;
    color: #fff
}
/*热门搜索--------------------------------------------------------------------*/
.hotSearch {
    overflow: hidden;
    height: 22px;
    margin: 6px 0 18px
}

.hotSearch dt{
    float: left
}
.hotSearch dt {
    width: 70px;
    font-size: 14px
}
.hotSearch dd{
    float: left;
}
.hotSearch dd {
    margin-right: 20px
}
.hotSearch dd a.current {
    color: #00b38a
}
.hotSearch dd a:hover {
    text-decoration: underline
}
.home_banner {
    width: 744px;
    height: 160px;
    position: relative;
    margin: 0 0 18px;
    overflow: hidden
}
.home_banner .banner_bg {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 612px;
    height: 160px;
    overflow: hidden;
    position: relative;
    left: 0;
}
.home_banner .banner_bg li {
    display: block;
    width: 612px;
    height: 160px
}
.home_banner .banner_control {
    float: right;
    width: 121px;
    height: 160px;
    position: relative;
    right: 0;
    top: 0
}

.home_banner .banner_control em {
    width: 127px;
    height: 50px;
    background: url(../images/scroll/control_current_3d8ebbe.png) 0 0 no-repeat;
    position: absolute;
    z-index: 21;
    top: 0;
    left: -6px
}
.home_banner .thumbs {
    list-style: none;
    margin: 0;
    padding: 0
}

.home_banner .thumbs li {
    width: 113px;
    height: 42px;
    border: 4px solid #d3d3d3;
    position: relative
}
.home_banner .thumbs li.thumbs_1,.home_banner .thumbs li.thumbs_2 {
    margin-bottom: 5px
}
.home_banner .thumbs li i {
    background: url(../images/scroll/thumb_cover_d65c767.png) no-repeat;
    width: 113px;
    height: 42px;
    position: absolute
}

.home_banner .thumbs li.current i {
    background: 0
}

.da-thumbs {
    list-style: none;
    height: 118px;
    position: relative;
    margin: 0 0 25px;
    padding: 0
}
.da-thumbs li {
    float: left;
    margin-right: 8px;
    background: #fff;
    position: relative;
    border: 2px solid #fafafa
}
.da-thumbs li.last {
    margin-right: 0
}
.da-thumbs li a,.da-thumbs li a img {
    display: block;
    position: relative
}
.da-thumbs li a {
    color: #fff;
    overflow: hidden
}
.da-thumbs li a div {
    position: absolute;
    /*display: none;*/
    background: #333;
    background: rgba(0,179,138,.9);
    *background: #00b38a;
    background: #00b38a\0;
    filter: alpha(opacity=90);
    width: 100%;
    height: 100%
}

.da-thumbs li a em {
    display: block;
    width: 100px;
    height: 5px;
    background: rgba(255,255,255,.3);
    *background: #fff;
    background: #fff\0;
    filter: alpha(opacity=30);
    margin: 0 6px
}

.da-thumbs li a h2 {
    font-size: 24px;
    height: 24px;
    line-height: 24px;
    margin: 10px 8px 8px;
    font-weight: 400;
    text-align: center;
    overflow: hidden
}

.da-thumbs li a p {
    font-size: 12px;
    margin: 6px 8px;
    line-height: 18px
}
.job_tab {
    font-size: 0;
    background: #f6f6f6
}

.job_tab li {
    cursor: pointer;
    display: inline-block;
    *display: inline;
    *zoom:1;padding: 7px 20px;
    font-size: 18px;
    color: #999
}

.job_tab li.current1 {
    border-top: 3px solid #00b38a;
    background: #fff;
    color: #333
}

/*职位选项卡--------------------------------------------------------------------*/
.fl {
    float: left
}

.fr {
    float: right
}
.position_list{
    display: none;
}
.position_list.init_joblist{
    display: block;
}
.clearfix {
    *zoom:1
}
.clearfix:before,.clearfix:after {
    content: "";
    display: table
}

.clearfix:after {
    clear: both
}


.position_list_item {
    width: 744px;
    height: 123px;
    overflow: hidden;
    border-bottom: 1px dashed #e1e1e1
}

.position_list_item .wordCut {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}
.pli_top {
    height: 62px;
    background-color: #fff;
    padding-top: 22px;
    padding-left: 15px;
    overflow: hidden
}

.pli_top h2 {
    padding: 0;
    margin: 0
}

.pli_top a {
    color: #00b38a
}

.pli_top .position_link {
    max-width: 256px
}

.pli_top h2 span {
    margin-left: 6px;
    color: #00b38a
}

.pli_btm {
    height: 39px;
    background-color: #fafafa
}

.pli_top_l {
    width: 400px;
    margin-right: 20px
}

.pli_top_l .position_name {
    height: 34px
}

.pli_top_l .position_name h2 {
    font-size: 16px
}

.pli_top_l .position_name span.fl {
    color: #999;
    font-size: 14px;
    margin-left: 10px
}

.pli_top_l .position_name span i {
    font-style: normal
}

.pli_top_l .salary {
    height: 28px
}

.pli_top_r {
    width: 309px
}

.pli_btm_l {
    width: 400px;
    height: 39px;
    line-height: 39px;
    padding-left: 15px;
    padding-right: 20px
}

.pli_btm_r {
    width: 309px;
    margin-top: 8px
}

.pli_btm_r span {
    display: inline-block;
    padding: 0 3px;
    border: 1px solid #dcdcdc;
    margin-right: 10px;
    margin-bottom: 10px
}

.pli_top_l span.salary {
    font-size: 16px;
    color: #fa6041;
    margin-right: 20px
}

.pli_top_r .company_name {
    width: 294px;
    height: 34px;
    color: #00b38a
}

.pli_top_r .company_name a {
    font-size: 16px
}

.pli_top_r .industry {
    width: 294px;
    height: 28px
}
.list_more {
    font-size: 16px;
    color: #fff;
    background: #00b38a url("../images/arrow_5.png") 88px center no-repeat;
    padding: 5px 40px 5px 15px;
    margin: 10px 0 0;
    margin-top: 25px
}

.list_more:hover {
    background-color: #00a57f;
    color: #fff
}

/*链接*/
.linkbox {
    padding: 15px 0 0;
    margin-top: 40px;
    border-top: 1px solid #ececed;
    overflow: hidden
}
.linkbox dt{
    float: left;
    width: 70px;
    margin-top: 2px;
    font-size: 15px
}
.linkbox dd {
    margin-left: 70px;
    overflow: hidden;
}

.linkbox a {
    white-space: nowrap;
    float: left;
    height: 15px;
    padding: 8px 9px;
    font-size: 12px;
    line-height: 15px;
    color: #555;
    text-decoration: none
}

.linkbox a:hover {
    color: #0061a6;
    text-decoration: underline
}

.linkbox span {
    float: left;
    padding: 7px 0 9px;
    font-size: 12px;
    line-height: 15px;
    color: #999
}

.linkbox a.more {
    text-decoration: underline
}
